.button {
  background-color: $color-main;
  border: 2px solid transparent;
  box-shadow: 0 0 4px transparent;
  padding: 12px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.4s;

  &:disabled {
    opacity: 0.3;
  }

  &_theme {
    &_clear {
      color: $color-main;
      background-color: white;

      &:focus,
      &:hover {
        border: 2px solid $color-main !important;
        box-shadow: 0 0 4px rgba(black, 0.1) !important;
      }

      &_error {
        color: $color-error;
        background-color: white;

        &:focus,
        &:hover {
          border: 2px solid $color-error !important;
          box-shadow: 0 0 4px rgba(black, 0.1) !important;
        }
      }
    }
  }

  &:focus,
  &:hover {
    border: 2px solid white;
    box-shadow: 0 0 4px $color-main;
  }
}
