.card-editor {
  display: flex;
  align-items: center;
  background-color: #fff;

  &-workplane {
    border-radius: 12px;
    width: 60vw;
    height: 80vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -13px 0 -6px rgba(black, 0.3);
    cursor: default;
  }

  &_size_large {
    width: 500px !important;
  }

  & > .form__row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 6px 0;

    & > .form__col {
      width: auto !important;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &_size_large {
        width: 100% !important;
        padding: 0 0 0 12px;
      }
    }
  }

  .input-wrapper {
    width: 100%;
    padding-left: 4px;
  }

  &__qr-code {
    width: 150px;
    height: 150px;
    background-color: #000;
    padding: 12px;
    border-radius: 12px;
    margin: 0 24px 0 0;
    box-shadow: 0 0 32px rgba(black, 0.3);

    &_hidden {
      opacity: 0;
      position: absolute;
    }

    &-download-button {
      display: inline-block;
      background-color: $color-main;
      color: white;
      border-radius: 14px;
      height: 28px;
      line-height: 28px;
      margin-right: 24px;
      text-decoration: none;
      padding: 0 24px;
      margin-top: 12px;
      font-size: 14px;
    }
  }

  .file {
    margin: 12px 0;
  }

  .button {
    margin-top: 12px;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 24px;
  }

  &-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(black, 0.3);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
