.card-editor {
  .input-wrapper {
    width: 80%;
  }

  .file {
    margin: 12px 0;
  }

  .button {
    margin-top: 12px;
  }

  &__title {
    font-size: 20px;
    margin-bottom: 24px;
  }

  &-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
